@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  button:not(:disabled) {
    cursor: pointer;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateOnce {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blinkTwoTimes {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
